extends layout

block content
  if message
    p #{message}
  .container
    .row
      .col-sm-1
      .col-sm-4
        h1.center Input Card
    br
    .row
      form.form-horizontal(method="post", action="/input", name="input.form-controlCard", id="input.form-controlCard")
        .form-group
          label.col-sm-1(for="name") Name
          .col-sm-4
            input.form-control(type="text", name="name")
        .form-group
          label.col-sm-1(for="rarity") Rarity
          .col-sm-4
            select.form-control(name="rarity")
              option(value="")
              option(value="S") Starter
              option(value="C") Common
              option(value="U") Uncommon
              option(value="R") Rare
              option(value="UR") Ultra Rare
              option(value="P") Promotional
        .form-group
          label.col-sm-1(for="setName") Set
          .col-sm-4
            select.form-control(name="setName")
              option(value="Set 1", selected) Set 1
              option(value-"Heroes & Villains") Heroes & Villians
              option(value="Movie Collection 1") Movie Collection 1
              option(value="Evolution") Evolution
        .form-group
          label.col-sm-1(for="setNumber") Set Number
          .col-sm-4
            input.form-control(type="number", name="setNumber")
        .form-group
          label.col-sm-1(for="type") Card Type
          .col-sm-4
            select.form-control(name="type")
              option(value="")
              option(value="Main Personality") Main Personality
              option(value="Mastery") Mastery
              option(value="Setup") Setup
              option(value="Drill") Drill
              option(value="Physical Combat") Physical Combat
              option(value="Energy Combat") Energy Combat
              option(value="Event") Event
              option(value="Ally") Ally
              option(value="Dragon Ball") Dragon Ball
        .form-group
          label.col-sm-1(for="color") Color
          .col-sm-4
            select.form-control(name="color")
              option(value="")
              option(value="Black") Black
              option(value="Blue") Blue
              option(value="Orange") Orange
              option(value="Red") Red
              option(value="Namekian") Namekian
              option(value="Saiyan") Saiyan
              option(value="Freestyle") Freestyle
        .form-group
          label.col-sm-1(for="alignment") Alignment
          .col-sm-4
            select.form-control(name="alignment")
              option(value="")
              option(value="Hero") Hero
              option(value="Villain") Villain
              option(value="Either") Either
        .form-group
          label.col-sm-1(for="text") Card Text
          .col-sm-4
            textarea.form-control(name="text", form="input.form-controlCard")
        .form-group
          label.col-sm-1(for="endurance") Endurance
          .col-sm-4
            input.form-control(type="number", value="0", name="endurance")
        .form-group
          .col-sm-1
          .col-sm-4
            input.form-control.btn-warning(type="submit", value="submit", id="input-submit")
